{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI FreeIPAPI",
    "description": "Free, Fast and Reliable IP Geolocation API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://free.freeipapi.com"
    },
    {
      "url": "https://de.freeipapi.com"
    },
    {
      "url": "https://us.freeipapi.com"
    }
  ],
  "security": [
    {},
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/json": {
      "get": {
        "description": "Retruns the current requests's IP info",
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IP"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/json/{ip}": {
      "get": {
        "description": "Returns the IP info of the given IP address",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "Valid IPv4 or IPv6",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IP"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IP": {
        "type": "object",
        "properties": {
          "ipVersion": {
            "type": "integer",
            "example": 6
          },
          "ipAddress": {
            "type": "string",
            "format": "ipv6",
            "example": "2a02:8071:1212:aa0:d914:e794:457d:1212"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "example": 51.2217
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "example": 6.77616
          },
          "countryName": {
            "type": "string",
            "example": "Germany"
          },
          "countryCode": {
            "type": "string",
            "example": "DE"
          },
          "capital": {
            "type": "string",
            "example": "Berlin"
          },
          "phoneCodes": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              49
            ]
          },
          "timeZones": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Europe/Berlin",
              "Europe/Busingen"
            ]
          },
          "cityName": {
            "type": "string",
            "example": "Düsseldorf"
          },
          "regionName": {
            "type": "string",
            "example": "North Rhine-Westphalia"
          },
          "continent": {
            "type": "string",
            "example": "Europe"
          },
          "continentCode": {
            "type": "string",
            "example": "EU"
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "EUR"
            ]
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "de"
            ]
          },
          "asn": {
            "type": "string",
            "example": "3209"
          },
          "asnOrganization": {
            "type": "string",
            "example": "Vodafone GmbH"
          }
        }
      },
      "Error": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base",
  "webhooks": {},
  "externalDocs": {
    "url": "docs.freeipapi.com"
  },
  "tags": []
}