{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI FreeIPAPI",
    "description": "Free, Fast and Reliable IP Geolocation API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://free.freeipapi.com"
    },
    {
      "url": "https://de.freeipapi.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/json": {
      "get": {
        "description": "Retruns the current requests's IP info",
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IP"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/json/{ip}": {
      "get": {
        "description": "Returns the IP info of the given IP address",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "Valid IPv4 or IPv6",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IP"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IP": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base",
  "webhooks": {},
  "externalDocs": {
    "url": "docs.freeipapi.com"
  },
  "tags": []
}